{% extends "layout.html" %}
{% block main_contents %}
<div id="nav">
    exercise {{ exercise_number }}
    <form action={{url_for('.post_check', exercise_number=exercise_number)}} method='post'>
        <input type="submit" />
    </form>
</div>

<div id="editor">
    <div id="csseditor" class="fill-content"></div>
</div>

<div id="rawhtml" class="fill-content">
    {{ raw_html }}
</div>

<div id="renderedhtml">
    <iframe id="rendered_html" class="fill-content" src={{url_for('.get_target_html', exercise_number=exercise_number)}}></iframe>
</div>
{% endblock %}
