<!DOCTYPE html>
<html>
    <head>
        <title>eCSSercise</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
        <script src="{{ url_for('static', filename='src-min/ace.js') }}" type="text/javascript" charset="utf-8"></script>
        <script src="{{ url_for('static', filename='src-min/mode-css.js') }}" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <h1>layout page</h1>
        {% block main_contents %}{% endblock %}

        <div id="csseditor"></div>

        <script src="{{ url_for('static', filename='js/css-editor.js') }}" type="text/javascript" charset="utf-8"></script> 
    </body>
</html>
