<!DOCTYPE html>
<html>
    <head>
        <title>eCSSercise</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        <script src="{{ url_for('static', filename='src-min/ace.js') }}" type="text/javascript" charset="utf-8"></script>
        <script src="{{ url_for('static', filename='src-min/mode-css.js') }}" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <div class="container">
            <div id="header">
                <div class="title">eCSSercise</div>
            </div>
            <div id="issue">
                <div class="issue-content">
                    <ul class="issue-list">
                        <li class="issue-item">
                            <a href={{ url_for('.get_exercises', exercise_number=1) }} class="issue-link">1. Selector</a>
                        </li>
                        <li class="issue-item">
                            <a href={{ url_for('.get_exercises', exercise_number=2) }} class="issue-link">2. Selector Advanced</a>
                        </li>
                    </ul>
                </div>
            </div>
            {% block main_contents %}{% endblock %}
            <div id="footer">
                <p class="copyright">Copyright &copy; 2018 Subarunari</p>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/custom-editor.js') }}" type="text/javascript" charset="utf-8"></script> 
    </body>
</html>
