@import "vars.scss";

.title {
  color: $accent-positive-highlight-color;
  font-size: 34px;
  margin-left: 18px;
}

.sub-text {
  color: $sub-font-color;
}

$editor-size: 300px;
.container {
  display: grid;
  grid-template-rows: 50px 42px $editor-size $editor-size 70px;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-areas: 
        "header header header       "
        "issue  nav    nav          "
        "issue  editor rawhtml      "
        "issue  editor renderedhtml "
        "footer footer footer       ";
  margin: -8px;
  grid-column-gap: 3px;
  background-color: $main-color;
  color: $main-font-color;
  font-size: $main-font-size;
}

.fill-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#header {
  grid-area: header;
  background-color: $editor-header-background-color;
}

#nav {
  grid-area: nav;
}

$list-border-width: 2px;
#issue {
  grid-area: issue;
  .issue-list {
    padding: 0px;
    margin: 0px;
    border-top: solid $list-border-width $main-color;
    background-color: $editor-header-background-color;
  }
  .issue-item {
    list-style-type: none;
    padding: 4px 0px 4px 12px;
    border-bottom: solid $list-border-width $main-color;
  }
  .issue-link {
    color: $main-font-color;
    font-size: $sub-font-size;
  }
}

#editor {
  grid-area: editor;
}

#rawhtml {
  grid-area: rawhtml;
}

#renderedhtml {
  grid-area: renderedhtml;
  background-color: white;
}

#footer {
  grid-area: footer;
  margin-bottom: -8px;
  background-color: $main-color;
  font-size: $sub-font-size;
  color: $sub-font-color;
}

.copyright {
  text-align: center;
  margin-top: 40px;
}

.nav-content {
  margin-top: 8px;
}

.inline-form {
  display: inline-block;
}

.pull-right {
  float: right;
}

.check-button {
  background-color: $accent-positive-color;
  border-width: 0.5px;
  border-color: $accent-positive-highlight-color;
  border-radius: 2px;
  font-size: 16px;
  color: $base-highlight-color;
  margin-right: 24px;
  padding: 4px 16px;
}

.editor-header {
  background-color: $editor-header-background-color;
  padding: 8px 0px 0px 42px;
  font-weight: bold;
}

#csseditor {
  width: 100%;
  height: $editor-size * 2 - 27;
}

#rawhtml-editor {
  width: 100%;
  height: $editor-size - 27;
}
