$background-color: #8E8E8E;
$base-color: #F5F5F5;
$base-highlight-color: #FBFBFB;
$main-color: #323232;
$main-font-color: #EEEEEE;
$sub-font-color: #ABABAB;
$accent-positive-color: #00a456;
$accent-positive-highlight-color: #00ca67;

$content-left-margin: 12px;

$main-font-size: 16px;
$sub-font-size: 0.8em;

$editor-header-background-color: #232323;
