.container {
    display: grid;
    grid-template-rows: 50px 30px 300px 300px 40px; 
    grid-template-columns: 80px 1fr 1fr 20px;
    grid-template-areas: 
        "header header header       header "
        "issue  nav    nav          nav    "
        "issue  editor rowhtml      ......."
        "issue  editor renderedhtml ......."
        "footer footer footer footer";
    grid-column-gap: 6px;
    grid-row-gap: 6px;
}

#header {
    grid-area: header;
}

#nav {
    grid-area: nav;
}

#editor {
    grid-area: editor;
}

.fill-content {
    width: 100%;
    height: 100%;
}

#rowhtml {
    grid-area: rowhtml;
}

#renderedhtml {
    grid-area: renderedhtml;
}



#footer {
    grid-area: footer;
}
